@use 'variables';

.button,
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: variables.$accent-color;
  color: variables.$text-light;
  border-radius: 50px;
  font-family: variables.$font-main;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: variables.$transition;

  &:hover {
    background-color: darken(variables.$accent-color, 10%);
    transform: scale(1.05);
  }
}

