// =====================
// COULEURS PRINCIPALES
// =====================

// Rose poudré + prune + blanc cassé pour un effet chic et artistique
$accent-color: #715169;         // Couleur principale (rose framboise/danseuse)
$primary-color: #6C4A73;        // Couleur secondaire (prune profond, élégant)
$background-color: #FFF9F8;     // Fond clair doux (blanc rosé)
$text-dark: #222;               // Texte sur fond clair
$text-light: #fff;              // Texte sur fond foncé
$border-color: rgba(255, 255, 255, 0.1);  // pour les bordures discrètes

// =====================
// TYPOGRAPHIE
// =====================

$font-main: 'Poppins', sans-serif;
$font-size-base: 16px;
$font-title-h1: 'Kaushan Script', cursive;
$font-subtitle-h2: 'Permanent Marker', cursive;


// =====================
// EFFETS ET ANIMATIONS
// =====================

$transition: 0.3s ease-in-out;

// =====================
// BREAKPOINTS RESPONSIVE
// =====================

$mobile: 480px;
$tablet: 768px;
